* {
    box-shadow: none !important;
}

:root {
    --black: #bbbbbb;
    --white: #ffffff;
    --textWhite: #ffffff;
    --pureWhite: #ffffff;
    --blue: #7C99B9;
    --accent: #41A0D6;
    --accent-light: #41A0D6;
    --backcolor: #41A0D6;
}

body,
html,
h1,
h2,
h3,
h4 {
    margin: 0;
    font-family: 'Avenir', sans-serif !important;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    overflow-y: auto;
    height: 100%;
}


.MuiPaper-elevation1 {
    box-shadow: none !important;
    background-color: rgba(255,255,255,0.3) !important;
    backdrop-filter: blur(5px);
    border-radius: 10px !important;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.MuiCard-root {
    background-color: rgba(255,255,255,0.3) !important;
    backdrop-filter: blur(5px);
    border-radius: 10px !important;
}

.MuiButton-contained {
    border-radius: 4px !important;
}

body {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Avenir' !important;
}

footer .a:hover {
    fill: '#DA4567';
}

.MuiToolbar-regular {
    color: var(--white);
}

.MuiButton-contained {
    color: var(--black) !important;
    /* background-color: rgba(255,255,255,0); */
}
.makeStyles-button-1 {
    background-color: rgba(121,120,153,1)  !important;
}



.MuiButton-label {
    color: white !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.wallet-button {
    color: #2c2560 !important;
    font-family: 'Avenir', sans-serif !important;
    font-size: 1.1rem !important;
    text-align: left !important;
    justify-content: flex-start !important;
    text-transform: none !important;
    padding: 15px 8px !important;
}

.wallet-button:hover {
    background-color: black !important;
    color: #757ce8 !important;
}

@media (max-width: 600px) {
    .devilLogo {
        position: relative !important;
        width: 80% !important;
        height: auto !important;
        margin-left: 5%;
        margin-right: 5%;
    }
    .ombImg-home {
        height: 200px !important;
        position: relative !important;
    }
}